html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: rgb(39, 39, 63);
    font-family: monospace;
    
}

button {
    color: aliceblue;
}

.operatorBtn {
    background-color: rgb(214, 139, 0);
    font-size: 40px;
}

.operatorBtn:hover {
    background-color: rgb(170, 111, 0);
}

.mainBtns {
    background-color: rgb(65, 65, 65);
    font-size: 40px;
}

.mainBtns:hover {
    background-color: rgb(43, 43, 43);
}

.clearBtn {
    background-color: grey;
    font-size: 40px;
}

.clearBtn:hover {
    background-color: rgb(95, 95, 95);
}

.mainGrid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}


.displayHolder {
    display: grid;
    color:aliceblue;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.display {
    background-color: rgb(26, 26, 43);
    font-size: 40px;

    
}

.calculatorGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}